$colors: (
  "primary": #06C167,
  "translucent": 0
);

$colorsText: (
  "primary": white,
  "translucent": #06C167
);

$activeColors: (
  "primary": #0db464
);

$activeColorsBorder: (
  "primary": #005cbf
);
